<!DOCTYPE html>
<html>
<head>
    <title>todo!</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"> 
</head>
<body>
    <nav>
        <ul id="main-menu">
            <li><a href="/">ToDos</a></li>
            <li><a href="/categories">Kategorier</a></li>
        </ul>
    </nav>
    <main>