<!DOCTYPE html>
<html>
<head>
    <title>todo!</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"> 
</head>
<body>
    <section class="new-todo">
        <h1>Ny <span class="logo">todo!</span></h1>
        <form action="/new-todo" method="post">
            <label>Titel <input type="text" name="todo_title" /></label>
            <label>Beskrivning <input type="text" name="todo_description"></label>
            <input type="submit" value="Spara">
        </form>
    </section>

    <hr>

    <h1><span class="logo">todo!</span></h1>
    <article class="active-todos">
        <% @todos.each do | t | %>
        <article class="todoitem">
            <h2><%= t['todo_title'] %></h2>
            <p><%= t['todo_description'] %></p>
            
            <input type="checkbox">
                
            </label>
        </article>
        <% end %>
    </article>

</body>