body {
    background-color: forestgreen;
    color: wheat;
    font-family: 'Comic Sans MS', cursive;
}

img {
    display: block;
}

.logo {
    text-transform: lowercase;
    font-style: italic;
}

article.active-todos {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

article.todoitem {
    background-color: wheat;
    display: inline-block;
    padding: 1em;
    color: forestgreen;
    width: 10em;
}

article.todoitem h2 {
    margin: 0;
}

article.todoitem p {
    margin: 0;
}