body {
    background-color: forestgreen;
    color: wheat;
    font-family: 'Comic Sans MS', cursive;
}

img {
    display: block;
}

.logo {
    text-transform: lowercase;
    font-style: italic;
}

article.todos {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

article.todoitem {
    box-shadow: 5px 5px 7px rgba(33, 33, 33);
    background-color: wheat;
    display: inline-block;
    padding: 1em;
    color: forestgreen;
    width: 10em;
    position: relative;
}

article.todoitem h2 {
    margin: 0;
}

article.todoitem p {
    margin: 0;
}


.todo-controls {
    display: flex;
    gap: 0.1em;
}


/*
article.todoitem input {
    right: 0.3em;
    bottom: 0.3em;
    position: absolute;
}*/